@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

$color: red;
$textColor: blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

// background-color: $color;
.main-wrapper {
  height: 100%;
}
.hero-nav-wrapper {
  .navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
    height: 80px;
    width: 100%;
    z-index: 200;

    .check-btn {
      position: absolute;
      color: white;
      right: 19px;
      font-size: 52px;
    }

    #toggle {
      display: none;
    }

    .logo {
      position: absolute;
      left: 19px;
      color: white;
      font-size: 20px;
    }

    .nav-list {
      list-style: none;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      top: 80px;
      height: 50vh;
      width: 100%;
      background-color: rgb(45, 58, 78);
      z-index: 1;
      transition: 0.5s;
      transform: translateX(100%);

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;

        &:hover {
          background: white;
          color: black;
          transition: 0.4s;
        }
        &:focus {
          background: white;
          color: black;
          transition: 0.4s;
        }
      }
    }
    #toggle:checked ~ .nav-list {
      transform: translateX(0);
    }
  }

  .hero {
  }
}
